
<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/perfil/plugins/socicon/socicon.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/perfil/plugins/bootstrap-social/bootstrap-social.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/perfil/plugins/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/perfil/plugins/simple-line-icons/simple-line-icons.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/perfil/plugins/animate/animate.min.css') }}"/>
    <!-- Heredan de ComunBundle -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/comun/base/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/comun/base/bootstrap/css/bootstrap.min.css') }}"/>
    <!-- END Heredan  -->

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="{{ asset('bundles/perfil/plugins/revo-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/plugins/cubeportfolio/css/cubeportfolio.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/plugins/owl-carousel/owl.carousel.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/plugins/owl-carousel/owl.theme.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/plugins/owl-carousel/owl.transitions.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/plugins/fancybox/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('bundles/perfil/base/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/base/css/components.css') }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/perfil/base/css/themes/red1.css') }}" rel="stylesheet" id="style_theme" type="text/css"/>
    <link href="{{ asset('bundles/perfil/base/css/custom.css') }}" rel="stylesheet" type="text/css"/>



    {% block stylesheets %}{% endblock %}


</head>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-fullscreen c-layout-header-topbar">
<header class="c-layout-header c-layout-header-default c-layout-header-default-mobile">
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="index.html" class="c-logo">
                        <img src="{{ asset('bundles/perfil/base/img/layout/logos/logo-1.png')}}" alt="JANGO" class="c-desktop-logo">
                        <img src="{{ asset('bundles/perfil/base/img/layout/logos/logo-1.png')}}" alt="JANGO" class="c-desktop-logo-inverse">
                        <img src="{{ asset('bundles/perfil/base/img/layout/logos/logo-1.png')}}" alt="JANGO" class="c-mobile-logo">
                    </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-search-toggler" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
                <form class="c-quick-search" action="#">
                    <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                    <span class="c-theme-link">&times;</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- BEGIN: MEGA MENU -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <!-- BEGIN: MEGA MENU -->
                    <ul class="nav navbar-nav c-theme-nav">
                        {% block menu_links %}
                        <li class="c-active c-menu-type-classic">
                            <a href="#" class="c-link dropdown-toggle">Home</a>

                        </li>
                        <li class="c-menu-type-classic">
                            <a href="" class="c-link dropdown-toggle">Features</a>
                        </li>
                        <li>
                            <a href="#" class="c-link dropdown-toggle">Pages</a>
                            <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                                <li>
                                    <ul class="dropdown-menu c-menu-type-inline">
                                        <li>
                                            <h3>Page Samples 1</h3>
                                        </li>
                                        <li>
                                            <a href="page-about-1.html">About Us 1</a>
                                        </li>
                                        <li>
                                            <a href="page-about-2.html">About Us 2</a>
                                        </li>
                                        <li>
                                            <a href="page-contact-1.html">Contact Us 1</a>
                                        </li>
                                        <li>
                                            <a href="page-contact-2.html">Contact Us 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="dropdown-menu c-menu-type-inline">
                                        <li>
                                            <h3>Page Samples 2</h3>
                                        </li>
                                        <li>
                                            <a href="page-contact-3.html">Contact Us 3</a>
                                        </li>
                                        <li>
                                            <a href="page-team.html">Meet The Team</a>
                                        </li>
                                        <li>
                                            <a href="page-product-launch.html">Product Launch</a>
                                        </li>
                                        <li>
                                            <a href="page-faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="dropdown-menu c-menu-type-inline">
                                        <li>
                                            <h3>Gallery Pages</h3>
                                        </li>
                                        <li>
                                            <a href="page-lightbox-gallery.html">Lightbox Gallery</a>
                                        </li>
                                        <li>
                                            <a href="page-fullwidth-gallery.html">Full Width Gallery</a>
                                        </li>
                                        <li>
                                            <a href="page-masonry-gallery.html">Masonry Gallery</a>
                                        </li>
                                        <li>
                                            <a href="page-index-gallery.html">Gallery Index</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="dropdown-menu c-menu-type-inline">
                                        <li>
                                            <h3>Blog Pages</h3>
                                        </li>
                                        <li>
                                            <a href="page-blog-list.html">Blog List View</a>
                                        </li>
                                        <li>
                                            <a href="page-blog-grid.html">Blog Grid View</a>
                                        </li>
                                        <li>
                                            <a href="page-blog-post.html">Blog Single Post</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="c-menu-type-classic">
                            <a href="#" class="c-link dropdown-toggle">Portfolio</a>
                        </li>
                        <li>
                            <a href="#" class="c-link dropdown-toggle">Components</a>
                        </li>
                        <li class="c-search-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> Sign In</a>
                        </li>
                        {% endblock %}
                    </ul>
                    <!-- END MEGA MENU -->
                </nav>
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
        </div>
    </div>
</header>
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
                <p>
                    To recover your password please fill in your email address
                </p>
                <form>
                    <div class="form-group">
                        <label for="forget-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Submit</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
                <p>
                    Please fill in below form to create an account with us
                </p>
                <form>
                    <div class="form-group">
                        <label for="signup-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">Username</label>
                        <input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="signup-fullname" class="hide">Fullname</label>
                        <input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname">
                    </div>
                    <div class="form-group">
                        <label for="signup-country" class="hide">Country</label>
                        <select class="form-control input-lg c-square" id="signup-country">
                            <option value="1">Country</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade c-content-login-form" id="login-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
                <p>
                    Let's make today a great day!
                </p>
                <form>
                    <div class="form-group">
                        <label for="login-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="login-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="hide">Password</label>
                        <input type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="c-checkbox">
                            <input type="checkbox" id="login-rememberme" class="c-check">
                            <label for="login-rememberme" class="c-font-thin c-font-17">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Remember Me </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
                        <a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot Your Password ?</a>
                    </div>
                    <div class="clearfix">
                        <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                            <span style="width: 110px">or signup with</span>
                        </div>
                        <ul class="c-content-list-adjusted">
                            <li>
                                <a class="btn btn-block c-btn-square btn-social btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                    Twitter </a>
                            </li>
                            <li>
                                <a class="btn btn-block c-btn-square btn-social btn-facebook">
                                    <i class="fa fa-facebook"></i>
                                    Facebook </a>
                            </li>
                            <li>
                                <a class="btn btn-block c-btn-square btn-social btn-google">
                                    <i class="fa fa-google"></i>
                                    Google </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div>
<div class="c-layout-page">

    {% block revo_slider %}
    <section class="c-layout-revo-slider c-layout-revo-slider-8">
        <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
            <div class="tp-banner ">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">

                        <img alt="" src=" {{ asset('bundles/perfil/base/img/content/backgrounds/bg-29.jpg')}}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!--BEGIN: MAIN TITLE -->
                        <div class="caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="" data-voffset="-30" data-speed="500" data-start="1000" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-font-60 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                MEET JANGO<br>
                                The Theme of 2015 </h3>
                        </div>
                        <!--END -->
                        <!--BEGIN: ACTION BUTTON -->
                        <div class="caption randomrotateout tp-resizeme" data-x="center" data-y="center" data-hoffset="" data-voffset="200" data-speed="300" data-start="1500" data-easing="Back.easeOut">
                        </div>
                        <!--END -->
                        <!--BEGIN: MAIN TITLE -->
                        <div class="caption customin customout tp-resizeme" data-x="left" data-y="bottom" data-hoffset="" data-voffset="" data-speed="500" data-start="1800" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="width: 100%;">
                            <div class="c-action-bar">
                                <div class="container">
                                    <div class="c-content">
                                        <h3 class="c-font-30 c-font-sbold c-font-white">
                                            Purchase JANGO Today & Get Unlimited Amazing Features </h3>
                                        <p class="c-font-20 c-font-thin">
                                            Constant updates, ultra responsive, dedicated support. JANGO has it all.
                                        </p>
                                    </div>
                                    <div class="c-btn-container">
                                        <a href="#" class="btn btn-xlg c-btn-square c-btn-border-2x c-btn-white c-btn-sbold c-btn-uppercase">Purchase</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END -->
                    </li>
                    <!--END -->
                    <!--BEGIN: SLIDE #2 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                        <img alt=""  src=" {{ asset('bundles/perfil/base/img/content/backgrounds/bg-42.jpg')}}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!--BEGIN: MAIN TITLE -->
                        <div class="caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="" data-voffset="-30" data-speed="500" data-start="1000" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                            <h3 class="c-font-60 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                                Incredibly flexible<br>
                                Clean codes </h3>
                        </div>
                        <!--END -->
                        <!--BEGIN: ACTION BUTTON -->
                        <div class="caption randomrotateout tp-resizeme" data-x="center" data-y="center" data-hoffset="" data-voffset="200" data-speed="300" data-start="1800" data-easing="Back.easeOut">
                            <a href="#" class="btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Purchase</a>
                        </div>
                        <!--END -->
                    </li>
                    <!--END -->
                </ul>
            </div>
        </div>
    </section>
    {% endblock revo_slider %}
    {% block pareja_block %}
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-feature-2-grid">
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-center c-font-bold">Ella & El. Una historia de amor</h3>
                    <div class="heart-content-style ">
                           <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block counter_block %}
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid">

                </div>

            </div>
        </div>
    {% endblock %}
    {% block fiesta_block %}
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold">Ella & El. Una historia de amor</h3>
                        <div class="heart-content-style ">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block padres_block %}
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold">Ella & El. Una historia de amor</h3>
                        <div class="heart-content-style ">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block acompannantes_block %}
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold">Ella & El. Una historia de amor</h3>
                        <div class="heart-content-style ">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block place_block %}
        <div class="c-content-box c-size-md c-no-padding c-bg-white">
            <div class="c-content-feature-4">
                <div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url({{asset('bundles/perfil/base/img/content/backgrounds/bg-40.jpg')  }})">
                </div>
                <div class="c-content-area c-content-left">
                </div>
                <div class="container">
                    <div class="c-feature-content c-left">
                        <div class="c-content-v-center">
                            <div class="c-wrapper">
                                <div class="c-body">
                                    <div class="c-content-title-1">
                                        <h3 class="c-font-uppercase c-font-bold c-left">Ultra Responsive</h3>
                                        <div class="c-line-left">
                                        </div>
                                        <p class="c-left">
                                            JANGO has it all
                                        </p>
                                    </div>
                                    <div class="c-content">
                                        <p class="c-margin-b-30 c-left">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud.
                                        </p>
                                        <button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold">EXPLORE</button>
                                        <button class="btn btn-lg c-btn-green c-btn-square c-btn-bold">PURCHASE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

</div>
{% block footer %}
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
    <div class="c-prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="c-container c-first">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">JAN<span class="c-theme-font">GO</span></h3>
                            <div class="c-line-left hide">
                            </div>
                            <p class="c-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, s ed elit diam nonummy ad minim veniam quis nostrud exerci et tation diam.
                            </p>
                        </div>
                        <ul class="c-links">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="c-container c-last">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">Find us</h3>
                            <div class="c-line-left hide">
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy ad minim.
                            </p>
                        </div>
                        <ul class="c-socials">
                            <li>
                                <a href="#"><i class="icon-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-social-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-social-tumblr"></i></a>
                            </li>
                        </ul>
                        <ul class="c-address">
                            <li>
                                <i class="icon-pointer c-theme-font"></i> One Boulevard, Beverly Hills
                            </li>
                            <li>
                                <i class="icon-call-end c-theme-font"></i> +1800 1234 5678
                            </li>
                            <li>
                                <i class="icon-envelope c-theme-font"></i> email@example.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-postfooter">
        <div class="container">
            <p class="c-font-oswald c-font-14">
                Copyright &copy; JANGO Inc.
            </p>
        </div>
    </div>
</footer>
{% endblock footer %}
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div>


<script src="{{ asset('bundles/comun/base/plugins/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/perfil/plugins/revo-slider/js/jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/plugins/revo-slider/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/plugins/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/plugins/fancybox/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src="{{ asset('bundles/perfil/base/js/components.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/perfil/base/js/app.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        App.init(); // init core

        // init main slider
        var slider = $('.c-layout-revo-slider .tp-banner');
        var cont = $('.c-layout-revo-slider .tp-banner-container');
        var api = slider.show().revolution({
            delay: 15000,
            startwidth:1170,
            startheight: 620,
            navigationType: "hide",
            navigationArrows: "solo",
            touchenabled: "on",
            onHoverStop: "on",
            keyboardNavigation: "off",
            navigationStyle: "circle",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            spinner: "spinner2",
            fullScreen: "on",
            fullScreenAlignForce:"on",
            fullScreenOffsetContainer: (App.getViewPort().width < App.getBreakpoint('md') ? '.c-layout-header' : ''),
            shadow: 0,
            fullWidth: "off",
            forceFullWidth: "off",
            hideTimerBar:"on",
            hideThumbsOnMobile: "on",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "on",
            hideArrowsOnMobile: "on",
            hideThumbsUnderResolution: 0
        });
    });
</script>
<!-- END: THEME SCRIPTS -->
<!-- END: LAYOUT/BASE/BOTTOM -->
</body>
</html>